/* CSS for App.js */

.App {
  display: inline-block;
  background-color:lightblue;
  background-image: url("appBackground.png");
  background-size: cover;
  background-repeat: no-repeat;
  position:fixed;
  top:0px;
  bottom:0px;
  left:0px;
  right:0px;
}
