/* CSS for Footer */

.footer {
    min-height: 8vh;
    display: flex; 
    flex-direction: column; 
    align-items: center;
    padding-top: 20px;
}

.footer-Image{
    background-color: white;
    overflow: hidden;
    max-width: 50%;
    max-height: 50%;
    padding: 1px;
    border-radius: 20px;
    border: 5px solid black;
}