/* CSS for Movies Component */

.movies {
    padding-top: 20px;
    text-align: center;
}

/* CSS Section for Movie List Table */

table {
    border-collapse: collapse;
}  

tr, th {
    padding: 0.5rem;
}

.search-Image{ /* CSS for "Search Results" image that is header of table */
    width: 200px;
    background-color: white;
    overflow: hidden;
    padding: 5px;
    border-radius: 10px;
    border: 5px solid black;
}

/* CSS Section for Movie List Cards */

.card { /* CSS for Card background and sizing */
    background-color: white;
    overflow: hidden;
    border-radius: 20px;
    border: 5px solid black;
    width: 600px;
}

.body{
    padding: 10px;
}
.poster{ /* CSS for All Movie Posters sizing */
    border: 2px white;
    border-radius: 20px;
    height: 200px;
    width: auto;
    max-width: 50%; 
    max-height: 50%;
}

.details-button{ /* CSS for Movie Details Button */
    background: white;
    color: black;
    border-radius: 10px;
}

/* CSS Section for overall Page Selector */

.pageNumberLine{ /* CSS for "Page # of #"  Visual Positioning */
    display: inline-block;
    overflow-x: auto;
    width: auto;
    max-width: 50%;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    border: 5px solid black;
}
.pageSelector{ 
    margin-top: -10px;
}
.pagination{  /* CSS for Page Numbers Positioning */
    display: inline-block;
    overflow-x: auto;
    overflow-y: auto;
    width: 600px;
    height: 20px;
    max-width: 50%;
    background-color: white;
    padding: 5px;
    border-radius: 20px;
    border: 5px solid black;
}

.page-Number{ /* CSS For Page Number Buttons */
    background: transparent;
    font-size: medium; 

}

/* CSS Section for Movie Details PopUp */

.popUp{ /* CSS for PopUp Box */
    background: white;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%) scale(0);
    width: 500px;
    max-width: 80%; 
    max-height: 80%;
    height: auto;
    z-index: 2;
    text-align: center;
    padding:20px;
    border-radius: 20px;
    border: 5px solid black;
    overflow-y: auto;
}

.popUp.active{ /* CSS for PopUp Box when active */
    transform:translate(-50%,-50%) scale(1);
}

.overlay{ /* CSS for PopUp background/overlay */
    position:fixed;
    opacity: 0;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    background-color:rgba(0,0,0,0.5);
    pointer-events:none

}
.overlay.active{ /* CSS for PopUp background/overlay when active */
    opacity: 1;
    pointer-events:all;
}
 
.popUp .close-btn{ /* CSS for close button in PopUp */
    position: absolute;
    right:20px;
    width:30px;
    height: 30px;
    border-radius: 20px;
    background: #222;
    color: #fff;

}
